In [2]:
def divisible_by_13(x): return ((x%13)==0)
filter(divisible_by_13, range(1,200))

[13, 26, 39, 52, 65, 78, 91, 104, 117, 130, 143, 156, 169, 182, 195]

In [24]:
def divisible_by_13(x): return ((x%13)==0)
a = (filter(divisible_by_13, range(1,200)))
reduce(lambda x, y: x * y, a)

66934480297716745754616576000L

In [11]:
# My answer to the third part is written below. 
# This answer should be moved to an answers file before releasing to students.
def divisible_by_13(x): return ((x%13)==0)&((x%2)!=0)
def sum(x,y): return x+y
def squared(x): return x*x
reduce(sum, map(squared, filter(divisible_by_13, range(1,200))))

114920

In [13]:
def divisible_by_13(x): return ((x%13)==0)&((x%2)!=0)
filter(divisible_by_13, range(1,200))

[13, 39, 65, 91, 117, 143, 169, 195]

In [27]:
def divisible_by_13(x): return ((x%13)==0)
(filter(divisible_by_13, range(1,200)))
product = lambda x, y: x * y
print reduce(product, (filter(divisible_by_13, range(1,200))))

66934480297716745754616576000

In [28]:
ans_array = []
while True:
    in_str = raw_input("Enter a string to be appended to this list. Type ! to discontinue\n")
    if in_str not in ['!']: 
        ans_array.append(in_str)
    else:
        break
print "*"*80, "\n"
for a in ans_array:
    print a

Enter a string to be appended to this list. Type ! to discontinue
new
Enter a string to be appended to this list. Type ! to discontinue
yes
Enter a string to be appended to this list. Type ! to discontinue
old
Enter a string to be appended to this list. Type ! to discontinue
No
Enter a string to be appended to this list. Type ! to discontinue
!
********************************************************************************

new
yes
old
No

In [31]:
range(5, 15)

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [33]:
xrange(5, 15, 2)

xrange(5, 15, 2)

In [34]:
#List comprehension example

result = []
result = [ x ** y for x in [10, 20, 30] for y in [2, 3, 4]]
result

[100, 1000, 10000, 400, 8000, 160000, 900, 27000, 810000]

In [7]:
 Cubes = [x**3 for x in range(11)]
 Cubes

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [8]:
[x for x in 'MATHEMATICS' if x in ['A','E','I','O','U']]

['A', 'E', 'A', 'I']

In [9]:
#Nested list comprehension example
[(x,y,z) for x in range(1,30) for y in range(x,30) for z in range(y,30) if x**2 + y**2 == z**2]

[(3, 4, 5),
 (5, 12, 13),
 (6, 8, 10),
 (7, 24, 25),
 (8, 15, 17),
 (9, 12, 15),
 (10, 24, 26),
 (12, 16, 20),
 (15, 20, 25),
 (20, 21, 29)]

In [10]:
[(x,y,z) for x in range(1,20) for y in range(x,20) for z in range(y,20) if x**2 + y**2 == z**2]

[(3, 4, 5), (5, 12, 13), (6, 8, 10), (8, 15, 17), (9, 12, 15)]

In [11]:
[(x, y) for x in [1, 2, 3, 4] for y in [2, 4, 3, 1] if x >= y]

[(1, 1),
 (2, 2),
 (2, 1),
 (3, 2),
 (3, 3),
 (3, 1),
 (4, 2),
 (4, 4),
 (4, 3),
 (4, 1)]

In [32]:
#Tuples example
tup1 = 'Physics', 'Biology', '1.4567', '2.1345'
tup2 = 'Chemistry', 'Mathematics', '5698', '3427'
#tup3 = tup1[0:2] + tup2[0:2]
#tup4 = tup1[2:4] + tup2[2:4]
#print tup3
#print tup4
tup3 = tup1[0:2], tup2[0:2]
tup4 = tup1[2:4], tup2[2:4]
tup3

(('Physics', 'Biology'), ('Chemistry', 'Mathematics'))

In [34]:
#Sets example
a = {x for x in 'abracadabra' if x not in 'abc'}
a

{'d', 'r'}

In [47]:
a = set(["Physics", "Biology", "Chemistry", "Mathematics"])
b = set(["Geology", "Statistics", "Mathematics", "Biology", "Sociology"])
a
b
c = set({x for x in (a) if x not in (b)})
c

{'Chemistry', 'Physics'}

In [46]:
a = set({x for x in 'abracadabra' if x not in 'abc'})
a

{'d', 'r'}

In [63]:
#Sequence unpacking example => Need to debug the code
my_seq = ['ACME', 50, 94.5, (2016, 06, 24)] 
name, price, shares, (year, month, date) = my_seq
#print year, month, date, shares, price, name
for x in my_seq:
    print 'x'.format(name, price, shares, year, month, date)

x
x
x
x

In [64]:
#Dictionaries example

en_de = {"red" : "rot", "green" : "gr√ºn", "blue" : "blau", "yellow":"gelb"}
print en_de
print en_de["red"]

{'blue': 'blau', 'green': 'gr\xc3\xbcn', 'yellow': 'gelb', 'red': 'rot'}
rot

In [65]:
# create a mapping of state to abbreviation
states = {
    'Oregon': 'OR',
    'Florida': 'FL',
    'California': 'CA',
    'New York': 'NY',
    'Michigan': 'MI'
}

# create a basic set of states and some cities in them
cities = {
    'CA': 'San Francisco',
    'MI': 'Detroit',
    'FL': 'Jacksonville'
}

# add some more cities
cities['NY'] = 'New York'
cities['OR'] = 'Portland'
# print out some cities
print '-' * 10
print "NY State has: ", cities['NY']
print "OR State has: ", cities['OR']

----------
NY State has:  New York
OR State has:  Portland

In [66]:
# print every state abbreviation
print '-' * 10
for state, abbrev in states.items():
    print "%s is abbreviated %s" % (state, abbrev)

----------
California is abbreviated CA
Michigan is abbreviated MI
New York is abbreviated NY
Florida is abbreviated FL
Oregon is abbreviated OR

In [121]:
#Need to debug the code
prices = {'apple': 0.40, 'banana': 0.50}
my_purchase = {
    'apple': 1,
    'banana': 6}
grocery_bill = sum((float([prices[fruit] * my_purchase[fruit])) for fruit in my_purchase])

SyntaxError: invalid syntax (<ipython-input-121-252d82943dee>, line 6)

In [92]:
prices = {'apple': 0.40, 'banana': 0.50}
my_purchase = {
    'apple': 1,
    'banana': 6}
a = [prices[fruit] * my_purchase[fruit] for fruit in my_purchase]
grocery_bill = sum(a)

TypeError: sum() takes exactly 2 arguments (1 given)

In [119]:
prices = dict([('Apple', 0.8), ('Orange', 0.6), ('Pear', 0.7), ('Banana', 0.4)])
del prices['Orange']
prices['Melon'] = 3.5
print prices
my_purchase = {'Apple': 1, 'Banana': 6, 'Pear':4, 'Melon':1}
print my_purchase
a = [prices[fruit] * my_purchase[fruit] for fruit in my_purchase]
a
#sum((prices[fruit], my_purchase[fruit]) for fruit in my_purchase)
#b = sum(a)
prices.keys()
print my_purchase.keys()
print a
print sum(a)

{'Melon': 3.5, 'Pear': 0.7, 'Apple': 0.8, 'Banana': 0.4}
{'Melon': 1, 'Pear': 4, 'Apple': 1, 'Banana': 6}
['Melon', 'Pear', 'Apple', 'Banana']
[3.5, 2.8, 0.8, 2.4000000000000004]

TypeError: sum() takes exactly 2 arguments (1 given)

In [133]:
{(x, y): x**2, y**3 for x in (2, 4, 6) for y in (6, 4, 5)}

SyntaxError: invalid syntax (<ipython-input-133-4aa9034f220c>, line 1)

In [4]:
#Dictionary example : Need to debug the code
my_purchase = {'Apple': 1, 'Banana': 6, 'Pear':4, 'Melon':1}

In [134]:
{x: x**2 for x in (2, 4, 6)}

{2: 4, 4: 16, 6: 36}

In [135]:
{x: abs(x) for x in (2, -4, -6, 8)}

{-6: 6, -4: 4, 2: 2, 8: 8}

In [142]:
answers = ['ACME', 50, 92.5, (2016, 06, 24)] 
#questions = [name, shares, price, (year, mon, day)]
#for i, v in enumerate(['name', 'shares', 'price', 'date']):
for i, v in enumerate(['ACME', '50', '92.5', '(2016, 06, 24)']):
    print i, v

0 ACME
1 50
2 92.5
3 (2016, 06, 24)

In [146]:
#need to debug
questions = [name, shares, price, date]
answers = ['ACME', 50, 92.5, (2016, 06, 24)] 
for q, a in zip(questions, answers):
     print 'What is your {0}?  It is {1}.'.format(q, a)

What is your ACME?  It is ACME.
What is your 94.5?  It is 50.
What is your 50?  It is 92.5.
What is your 24?  It is (2016, 6, 24).

In [148]:
#need to debug
questions = [name, shares, price, date]
#answers = ['ACME', 50, 92.5, (2016, 06, 24)] 
for i in reversed(questions):
    print i

24
50
94.5
ACME

In [151]:
Numbers = ['1426', '6584', '7568', '2314', '2143', '5682', '6584', '2314']
for f in sorted(set(Numbers)):
    print f

1426
2143
2314
5682
6584
7568

In [9]:
#need to debug
questions = ['name', 'shares', 'price', 'date']
answers = ['ACME', 50, 92.5, (2016, 06, 24)]
a = dict(['name', 'shares', 'price', 'date'], ['ACME', 50, 92.5, (2016, 06, 24)])
a
for k, v in a.iteritems():
    print k, v

TypeError: dict expected at most 1 arguments, got 2